# Python-specific ignores
__pycache__/
*.py[cod]
*$py.class
*.egg-info
build/


# Virtual environment
venv/
.env/
env/
.venv/

# macOS-specific files
.DS_Store

# IDE-specific files
.vscode/
.idea/

# Logs and databases
*.log
*.sqlite3

# Sensitive information (if any)
secrets.json