certifi==2025.1.31
charset-normalizer==3.4.1
idna==3.10
iniconfig==2.0.0
multidict==6.1.0
numpy==2.2.3
olympuswifi==0.9.3
packaging==24.2
pillow==11.1.0
pluggy==1.5.0
propcache==0.3.0
pytest==8.3.5
PyYAML==6.0.2
requests==2.32.3
urllib3==2.3.0
vcrpy==7.0.0
wrapt==1.17.2
yarl==1.18.3
